* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71; }

 .wrapper {
     margin: 2.5em;
 }

section {
    display: flex;
    flex-direction: column;
}

a {
  color: #8B0566;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

h2 {
    color: #8B0566;
    font-size: 1.4em;
    font-weight: 400;
}

h3 {
    color: #8B0566;
    font-size: 1.2em;
    font-weight: 400;
}

.button {
    background-color: #8B0566;
    border-radius: 8px;
    margin: 20px auto;
    /*max-width: 50%;*/
    padding: 20px 40px;
}

.button:hover {
    background-color: #61045F;
}

.button-text {
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 1px;
}

a.button-text:hover {
    text-decoration: none;
}

.display {
    background: -webkit-linear-gradient(135deg, #61045F, #AA076B);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    font-size: 3.5em;
    letter-spacing: 2px;
    line-height: 0.9;
    text-align: center;
    text-transform: uppercase;
}

.secondary {
    color: #979EA2;
}

.medium-size {
    font-size: 1.5em;
}

.page-header {
    display:flex;
    height: 100vh;
    padding-bottom: 5em;
    position:relative;
}

.page-header-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    margin: auto;
    text-align: center;
}
