* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  color: #606c71; }

 .wrapper {
     margin: 1.5em;
 }

section {
    display: flex;
}

a {
  color: #8B0566;
  text-decoration: none; }

a:hover {
    text-decoration: underline; }

h2 {
    color: #8B0566;
    font-size: 1.4em;
    font-weight: 400;
}

h3 {
    color: #8B0566;
    font-size: 1.15em;
    font-weight: 400;
}

@media (min-width: 576px) {
    h3 {
      font-size: 1.5em;
    }
}

.flex-center {
    display: flex;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.button {
    background-color: #8B0566;
    border-radius: 25px;
    display: block;
    margin: 20px auto;
    max-width: 320px;
    padding: 12px 0;
    text-align: center;
    width: 100%;
}

@media (min-width: 576px) {
    .button {
        margin: 20px 0;
    }
}

.button:hover {
    background-color: #61045F;
}

.button-text {
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 1px;
}

@media (min-width: 576px) {
    .button-text {
      font-size: 1.25em;
    }
}

a.button-text:hover {
    text-decoration: none;
}

.display {
    background: -webkit-linear-gradient(135deg, #61045F, #AA076B);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    font-size: 3.7em;
    letter-spacing: 2px;
    line-height: 0.9;
    text-transform: uppercase;
}

@media (min-width: 576px) {
    .display {
        font-size: 7.75em;
    }
}

.secondary {
    color: #979EA2;
}

.medium-size {
    font-size: 1.5em;
}

.page-header {
    display:flex;
    height: 100vh;
    padding-bottom: 5em;
}

.page-header-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
}

.divider {
    border-top: 1px solid #979EA2;
    padding-top: 20px;
}

@media (min-width: 576px) {
    .divider {
      padding: 60px 0;
    }
}

.blockquote {
    flex-direction: column;
    justify-content: space-around;
}

@media (min-width: 750px) {
    .blockquote {
      flex-direction: row;
    }
}

.blockquote p {
    font-style: italic;
    margin: auto;
    max-width: 450px;
}

.quote {
    margin: auto;
    max-width: 320px;
    padding-bottom: 40px;
}

.section-title {
    text-align: center;
}

.social-list {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 450px;
    padding: 0;
    width: 100%;
}

@media (min-width: 576px) {
    .social-list {
      margin: 20px 0;
      width: 450px;
    }
}
